html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
	line-height: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 20, 24);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 98px;
}

.container {
    transition: 0.3s;
    max-width: 400px;
    margin: 0 auto;
    padding: 36px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 14px;
}

.container h1{
    font-size: 30px;
    font-family: "General Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
   
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    background-color: transparent;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0px 19px 10px -12px rgba(0,0,0,0.1); */
}

button {
    background-color: #90caf9;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
}
button:hover{
    background-color: #50a6ed;
}

.resultado-container {
    display: none;
    border-radius: 20px;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    border: 1px solid  rgb(167, 167, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    padding: 40px;
    width: 43%;
}
.nav-container{
    border-bottom: 2px solid rgb(181, 181, 181);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    color: black;
}
.nav-container a{
    color: black;
    padding: 20px;
    transition: 0.3s;
}
.nav-container a:hover{
    background-color: #f07d00;
    color: white;
}
.nav-logo{
    width: 70px;
}
textarea:focus, input:focus {
    outline: 0;
}

.container h1 {
    font-size: 24px;
}



@media (max-width: 600px) {
    .container {
        max-width: 70%;

    }
}
    

    @media screen and (max-width: 480px) { 
        input, select {
          font-size: 16px;
        }
      }

    .dark-mode {
        background-color: #ffffff;
        color: #000000;
        transition: 0.4s;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        background-image: url('https://cdn-icons-png.flaticon.com/512/831/831682.png');
        background-size: cover;
        background-size: 50%;
        background-repeat: no-repeat;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }
    input:checked + .slider {
        background-color: rgb(16, 20, 24);
    }
    input:focus + .slider {
        box-shadow: 0 0 1px rgb(16, 20, 24);
    }
    input:checked + .slider:before {
        transform: translateX(26px);
    }